<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.machiav3lli.backup">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_SUPERUSER" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme"
        android:requestLegacyExternalStorage="true">
        <activity
            android:name="com.machiav3lli.backup.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.machiav3lli.backup.BatchActivity"
            android:label="@string/app_name"
            android:parentActivityName="com.machiav3lli.backup.MainActivity" />
        <activity
            android:name="com.machiav3lli.backup.schedules.SchedulerActivity"
            android:label="@string/sched_title"
            android:parentActivityName="com.machiav3lli.backup.MainActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.machiav3lli.backup.ui.Help"
            android:label="@string/help_title"
            android:parentActivityName="com.machiav3lli.backup.MainActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.machiav3lli.backup.Tools"
            android:label="@string/tools_title"
            android:launchMode="singleTop"
            android:parentActivityName="com.machiav3lli.backup.MainActivity"
            android:windowSoftInputMode="stateHidden" />
        <!-- activity
            android:name="com.machiav3lli.backup.ui.FileBrowser"
            android:label="@string/filebrowser_title"
            android:parentActivityName=".Preferences" /-->
        <activity
            android:name="com.machiav3lli.backup.LogViewer"
            android:label="logviewer"
            android:parentActivityName=".Tools" />

        <receiver android:name="com.machiav3lli.backup.schedules.AlarmReceiver" />
        <receiver android:name="com.machiav3lli.backup.schedules.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service android:name="com.machiav3lli.backup.schedules.ScheduleService" />
    </application>
</manifest>
