<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.machiav3lli.backup">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:allowClearUserData="true"
        android:banner="@mipmap/ic_launcher"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/AppTheme.DayNight"
        tools:targetApi="q">
        <activity
            android:name=".activities.IntroActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MainActivityX"
            android:label="@string/app_name" />
        <activity
            android:name=".activities.BatchActivityX"
            android:label="@string/app_name"
            android:parentActivityName=".activities.MainActivityX" />
        <activity
            android:name=".activities.SchedulerActivityX"
            android:label="@string/sched_title"
            android:parentActivityName=".activities.MainActivityX"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.PrefsActivity"
            android:label="@string/prefs_title"
            android:launchMode="singleTask" />

        <receiver android:name=".schedules.AlarmReceiver" />
        <receiver android:name=".schedules.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service android:name=".schedules.ScheduleService" />
    </application>
</manifest>
